@model IEnumerable<DragonBlog2.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

    <table class="table m-b-0 table-hover">
        <thead class="thead-info">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogUser)
                </th>
                <th>
                    Links
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Post.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BlogUser.UserName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
